/************************/
/* HEADER */
/************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e7f3;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 15rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(218, 42, 218);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: rgb(218, 42, 218);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #1f0f7a;
}

/************************/
/* HERO SECTION */
/************************/

.section-hero {
  background-color: #e9e7f3;
  padding: 4.8rem 0 9.6rem 0; /*96 px*/
}

.hero {
  max-width: 130rem; /* Multiplicando 130 rem por 10 temos 1300 px max-width ja responsivo*/
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Colocar dois itens um de cada lado no grid*/
  gap: 9.6rem;
  align-items: center;
}

.hero-text-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%; /*Colocando a imagem pra pegar 100% do grid ja é responsivo*/
}

.grade-cursos {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.imags-cursos {
  display: flex;
}

.imags-cursos img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #e9e7f3;
}

.imags-cursos img:last-child {
  margin: 0;
}

.texto-cursos {
  font-size: 1.8rem;
  font-weight: 600;
}

.texto-cursos span {
  color: rgb(218, 42, 218);
  font-weight: 700;
}

/************************/
/* COURSES IT WORKS SECTION */
/************************/
.section-courses {
  padding: 9.6rem 0;
}

.course-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-img {
  width: 40rem !important;
  height: 40rem !important;
}
